#root,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: block; /* Osnovni stil za normalan tok */
  width: 100%; /* Osiguraj da se proteže celom širinom */
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block; /* Osiguraj normalni tok */
}
.main {
  background-color: rgba(132, 207, 230, 0.199);
}
